<div class="trm-contacts-creator">
  <form novalidate [formGroup]="form" (ngSubmit)="save(form.value)">
    <mat-card>
      <mat-card-title-group>
        <img mat-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="column">
          <mat-input-container fxFlex [dividerColor]="form.get('name').errors ? 'warn' : 'primary'">
            <input
              matInput
              formControlName="name"
              placeholder="Name"
              name="name">

            <mat-hint align="end" *ngIf="!form.get('name').pristine && !form.get('name').valid">
              <ng-container *ngIf="form.get('name').errors?.required">its required</ng-container>
              <ng-container *ngIf="form.get('name').errors?.minlength">failed minlength</ng-container>
            </mat-hint>

          </mat-input-container>
          <mat-input-container fxFlex [dividerColor]="form.get('email').errors ? 'warn' : 'primary'">
            <input
              matInput
              formControlName="email"
              placeholder="Email"
              name="email">

              <mat-hint align="end" *ngIf="!form.get('email').valid && !form.get('email').pristine">
                <ng-container *ngIf="form.get('email').errors?.validateEmail">{{form.get('email').errors.validateEmail.errText}}</ng-container>
              </mat-hint>
          </mat-input-container>
          <mat-input-container fxFlex>
            <input ngModel matInput placeholder="Birthday" name="birthday" formControlName="birthday" type="date">
          </mat-input-container>


          <!-- <mat-input-container fxFlex>
            <input ngModel matInput placeholder="Phone" name="phone" formControlName="phone">
          </mat-input-container> -->

          <div formArrayName="phone">
            <div
              *ngFor="
                let phone of form.get('phone').controls;
                let i = index;
                let l = last">
              <mat-input-container>
                <input matInput placeholder="Phone" [formControlName]="i">
              </mat-input-container>

              <button
                mat-icon-button
                type="button"
                *ngIf="i >= 1"
                (click)="removePhoneField(i)"><mat-icon>highlight_off</mat-icon></button>

              <button
                mat-icon-button
                type="button"
                *ngIf="l && phone.value != ''"
                (click)="addPhoneField()"><mat-icon>add_circle_outline</mat-icon></button>
            </div>
          </div>


          <mat-input-container fxFlex>
            <input ngModel matInput placeholder="Website" name="website" formControlName="website">
          </mat-input-container>
          <!-- <mat-radio-group name="gender">
            <mat-radio-button>
              INSERT_GENDER_VARIANT
            </mat-radio-button>
          </mat-radio-group> -->

          <fieldset fxLayout="column" formGroupName="address">
            <legend>Address</legend>
            <mat-input-container fxFlex>
              <input
                matInput
                placeholder="Street"
                name="street">
            </mat-input-container>
            <mat-input-container fxFlex>
              <input
                matInput
                placeholder="Zip"
                name="zip">
            </mat-input-container>
            <mat-input-container fxFlex>
              <input
                matInput
                placeholder="City"
                name="city">
            </mat-input-container>
            <mat-select placeholder="Country" name="country">
              <mat-option>INSER_COUNTRY_NAME</mat-option>
            </mat-select>
          </fieldset>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
        <button
          mat-button
          type="submit"
          [disabled]="!form.valid">Save</button>

        <a mat-button title="Cancel creating new contact" routerLink="/">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>